<%= stylesheet_link_tag "bootlogin" %>
<%= form_for :login do |f| %>
<div class="text-center">
    <form class="form-signin">
    <a href="/">
    <%= image_tag("logo.png", :style=>'height:75px;', :class=>'d-inline-block') %>
    </a>
    <%= f.text_field :identifier, autofocus: true, :class=>'form-control', :placeholder=>'Identificador' %>
    
    <%= f.password_field :password, :class=>'form-control mb-3', :placeholder=>'Password',:style=>'width:300px;' %>
	<small class="text-muted">Ao clicar em login, você aceita nossos </small><small class="text-info"><u>termos de uso</u></small>
    <% if alert %>
      <p class="text-danger"><%= alert %></h1>
	<% end %>

    <% if current_user %>
    <%= link_to 'Log Out', logout_path, method: :delete %>
    <% end %>

    <%= f.submit 'Log In',:class=>'btn btn-lg btn-primary btn-block mt-3' %>
    
        
    </form>

</div>
<% end %>