<%= stylesheet_link_tag "bootlogin" %>
<%= form_for :login do |f| %>
<div class="text-center">
    <form class="form-signin">
    <a href="/">
    <%= image_tag("logo.png", :style=>'height:75px;', :class=>'d-inline-block') %>
    </a>
    <%= f.text_field :identifier, autofocus: true, :class=>'form-control', :placeholder=>'Identificador' %>
    
    <%= f.password_field :password, :class=>'form-control mb-3', :placeholder=>'Password',:style=>'width:300px;' %>
	<small class="text-muted">Ao clicar em login, você aceita nossos </small><small class="text-info"><u><a href="#" data-toggle="modal" data-target="#termos_uso">termos de uso</a></u></small>
    <% if alert %>
      <p class="text-danger"><%= alert %></h1>
	<% end %>

    <% if current_user %>
    <%= link_to 'Log Out', logout_path, method: :delete %>
    <% end %>

    <%= f.submit 'Log In',:class=>'btn btn-lg btn-primary btn-block mt-3' %>
    
        
    </form>

</div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="termos_uso" tabindex="-1" role="dialog" aria-labelledby="termos_uso" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Termos de Uso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true" class="text-danger">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5><strong>Terms and Conditions ("Terms")</strong></h5>
        <p>Last updated: November 25, 2018<br>
        Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the <a href="https://mysnips.herokuapp.com" target="_blank">MySNiPs</a> website (the "Service") operated by MySNiPs ("us", "we", or "our").<br>
        Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.<br>
        By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. This Terms and Conditions agreement for MySNiPs is managed by <a href="https://termsfeed.com/terms-conditions/generator/" target="_blank">TermsFeed's Terms and Conditions Generator</a>.<br>
        <h5><strong>Links To Other Web Sites</strong></h5>
        Our Service may contain links to third-party web sites or services that are not owned or controlled by MySNiPs.<br>
        MySNiPs has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that MySNiPs shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.<br>
        We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.<br>
        <h5><strong>Governing Law</h5></strong>
        These Terms shall be governed and construed in accordance with the laws of Brazil, without regard to its conflict of law provisions.<br>
        Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.<br>
        <h5><strong>Changes</h5></strong>
        We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.<br>
        By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.<br>
        <h5><strong>Contact Us</h5></strong>
        If you have any questions about these Terms, please contact us.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>