<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Genotipos</h1>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Alelo1</th>
          <th>Alelo2</th>
          <th>Sumario</th>
          <th>Repute</th>
          <th>Magnitude</th>
          <th>Revid</th>
          <th>Pageid</th>
          <th>Conteudo</th>
          <!-- TODO: ARRUMAR
          <th colspan="3"></th>
          -->
        </tr>
      </thead>

      <tbody>
        <% @genos.each do |geno| %>
          <tr>
            <td><%= geno.title%></td>
            <td><%= geno.allele1%></td>
            <td><%= geno.allele2%></td>
            <td><%= geno.summary%></td>
            <td><%= geno.repute%></td>
            <td><%= geno.magnitude%></td>
            <td><%= geno.revid%></td>
            <td><%= geno.pageid%></td>
            <td><%= geno.page_content%></td>
            <!--
            <td><%= link_to 'Show', geno %></td>
            <td><%= link_to 'Edit', edit_genotype_path(geno) %></td>
            <td><%= link_to 'Destroy', geno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            -->
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @genos %>
    <%= page_entries_info @genos %>
    <!-- TODO: Implementar criação de genos
    <%= link_to 'New geno', new_genotype_path %>
    -->
  </div>
</div>
