<%= stylesheet_link_tag "sidebar" %>
<link href='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.css' rel="stylesheet">
<%= form_tag(report_index_url, method: :get) do %>
<nav class="navbar navbar-light bg-info fixed-top">
  <div class="row">
    <div class="col-2"><a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span class="navbar-toggler-icon"></span></a></div>
    <div class="col-10">
        <div class="row">
          <%= text_field_tag :search, params[:search], type: "search", class:"form-control col-10", placeholder: "Pesquisar", "aria-label": "Pesquisar" %>
        <button class="btn btn-primary fas fa-search col-2" type="submit"></button>
        </div>
    </div>
  </div>
</nav>
<div id="wrapper" class="pt-5">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand px-1">
                    <a href="/"><%= image_tag("logo.png", :style=>'height:35px;', :class=>'d-inline-block align-bottom px-5') %></a>
                </li>
                <hr class="deep-purple accent-2 d-inline-block mx-4" style="width: 200px;">

                <!--<li>#<%=current_identifier%></li>-->
                    <li class="text-muted pt-3"><h5>Filtrar por</h5></li>
                    <li class=" text-center pt-2">Reputação</li>
                    <li style="display:inline-block;">
                    <div class="form-check">
                    <% if @repute_is == true %>
                      <input id="radioGood" class="form-check-input" type="radio" name="rep" value="1" checked>
                      <label class="form-check-label text-success" for="radioGood">
                    <% else %>
                      <input id="radioGood" class="form-check-input" type="radio" name="rep" value="1">
                      <label class="form-check-label text-success" for="radioGood">
                    <% end %>
                        <button type="button" class="repBut" id="goodBut"><i class="fas fa-dna fa"></i></button>
                    </label>
                    </div></li>
                    <li style="display:inline-block;">
                    <div class="form-check">
                    <% if @repute_is == false %>
                      <input id="radioBad" class="form-check-input" type="radio" name="rep" value="2" checked>
                      <label class="form-check-label text-danger" for="radioBad">
                    <% else %>
                      <input id="radioBad" class="form-check-input" type="radio" name="rep" value="2">
                      <label class="form-check-label text-danger" for="radioBad">
                    <%end%>
                        <button type="button" class="repBut" id="badBut"><i class="fas fa-dna fa"></i></button>
                    </label>
                    </div>
                    </li>
                    <li class="text-center pt-2">Magnitude</li>
                    
                    <li><div id="slider" class="noUiSlider" style="display: block;margin-left: auto;margin-right: auto;width: 80%;"></div></li>
                    <li><select class="form-control" id="min" name="min" style="visibility:hidden;width:0px;height:0px;"></select></li>
                    <li><select class="form-control" id="max" name="max" style="visibility:hidden;width:0px;height:0px;"></select></li>
                    <li style="text-align:center;"><button class="btn btn-primary fas fa-search col-2 mt-3" type="submit"></button></li>
                <li class="text-center">
                    <a href="#" class=" text-muted">Termos de Uso</a>
                </li><%if current_user%>
                <li class="text-center">
                    <a href="/logout" class=" text-muted">Logout</a>
                </li>
                <%else%><li class="text-center">
                    <a href="/" class=" text-muted">Página Inicial</a>
                </li>
                <%end%>
            </ul>
    </div>
    <% end %>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div id="cards">
          <%= text_for_total_or_found @total_cards, @found_cards %>
          <%= render @cards rescue "Ocorreu um erro :(" %>
        </div>
        <div id="infinite-scrolling">
          <%= will_paginate @cards rescue nil %>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->



<%= javascript_include_tag 'sidebar'%>
<script src='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.0.4/wNumb.min.js'></script>
<%= javascript_include_tag 'rangeslider'%>
<script>

$('button.repBut').click(function() { 
    var id = $(this).attr('id');
    if(id=='goodBut'){$("#radioGood").prop("checked", true);}
    else if(id=='badBut'){$("#radioBad").prop("checked", true);}
});

</script>
</body>
