<%= stylesheet_link_tag "sidebar" %>
<link href='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.css' rel="stylesheet">
<%= form_tag(report_index_url, method: :get) do %>
<nav class="navbar navbar-light bg-gradient-primary fixed-top">
  <div class="row">
    <div class="col-2"><a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span class="navbar-toggler-icon"></span></a></div>
    <div class="col-10">
        <div class="row">
          <%= text_field_tag :search, params[:search], type: "search", class:"form-control col-10", placeholder: "Pesquisar", "aria-label": "Pesquisar" %>
        <button class="btn btn-dark fas fa-search col-2" type="submit"></button>
        </div>
    </div>
  </div>
</nav>
<div id="wrapper" class="pt-5 toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand px-1">
                    <a href="/"><%= image_tag("logo.png", :style=>'height:35px;', :class=>'d-inline-block align-bottom px-5') %></a>
                </li>
                <hr class="deep-purple accent-2 d-inline-block mx-4" style="width: 200px;">
                <li class="text-center text-primary"style="margin-left:-20px;"><%=current_identifier%></li>
                <hr class="deep-purple accent-2 d-inline-block mx-4" style="width: 200px;">
                <li style="display:inline-block;">
                <div class="form-check">
                  <%= radio_button_tag :rep, "1", @repute_1, type: "radio", class: "form-check-input",style:"visibility:hidden;width:0px;height:0px;",id:"rb1" %>
                  <%=label_tag('rep_1' , '', class: 'form-check-label fas fa-dna fa btn btn-outline-success',id:'rep1',style:'width:100px;margin-left:-15px;padding-right:30px;') %>
                </div></li>
                <li style="display:inline-block;">
                <div class="form-check">
                  <%= radio_button_tag :rep, "2", @repute_2, type: "radio", class: "form-check-input",style:"visibility:hidden;width:0px;height:0px;",id:"rb2" %> 
                  <%=label_tag('rep_2' , '', class: 'form-check-label fas fa-dna fa btn btn-outline-danger',id:'rep2',style:'width:100px;margin-left:-45px;padding-right:30px;') %>
                </div>
                </li>
                <hr class="deep-purple accent-2 d-inline-block mx-4" style="width: 200px;">
                <li><div id="slider" class="noUiSlider" style="display: block;margin-left: auto;margin-right: auto;width: 67%;"></div></li>
                <hr class="deep-purple accent-2 d-inline-block mx-4" style="width: 200px;">
                <li><select class="form-control" id="min" name="min" style="visibility:hidden;width:0px;height:0px;"></select></li>
                <li><select class="form-control" id="max" name="max" style="visibility:hidden;width:0px;height:0px;"></select></li>
                <li style="display:inline-block;" class="ml-5"><button class="btn btn-primary fas fa-search" type="submit"></button></li>
                <% end %>
                <li style="display:inline-block" class=ml-2>
                  <form class="button_to" method="get" action="/report">
                    <button class="btn btn-primary fas fa-undo" type="submit"></button>
                  </form>
                </li>
                <!--<%= button_to 'Reset filter', :report_index, method: :get %>-->
                <hr class="deep-purple accent-2 d-inline-block mx-4" style="width: 200px;">
                <li class="text-center">          
                    <a href="#" class=" text-muted" data-toggle="modal" data-target="#termos_uso">Termos de Uso</a>
                </li><%if current_user%>
                <li class="text-center">
                    <a href="/logout" class=" text-muted">Logout</a>
                </li>
                <%else%><li class="text-center">
                    <a href="/" class=" text-muted">Página Inicial</a>
                </li>
                <%end%>
            </ul>
    </div>   
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div id="cards">
          <%= text_for_total_or_found @total_cards, @found_cards %>
          <%= render @cards rescue "Ocorreu um erro :(" %>
        </div>
        <div id="infinite-scrolling">
          <%= will_paginate @cards rescue nil %>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


<!-- Modal -->
<div class="modal fade" id="termos_uso" tabindex="-1" role="dialog" aria-labelledby="termos_uso" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Termos de Uso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true" class="text-danger">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'sidebar'%>
<script src='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.0.4/wNumb.min.js'></script>
<script> 
var min = <%= @min %>;
var max = <%= @max %>;
</script>
<%= javascript_include_tag 'rangeslider'%>
<script>
var rep1= '<%=@repute_1%>';
var rep2= '<%=@repute_2%>';
var rep1b = ($('#rep1').attr('class').split(" "));
var rep2b = ($('#rep2').attr('class').split(" "));
if(rep1=='true'){

var rep1b = ($('#rep1').attr('class').split(" "));
rep1b.push('active');
rep1b.join(" ");
document.getElementById("rep1").className = rep1b.join(" ");}
else if(rep2=='true'){

var rep2b = ($('#rep2').attr('class').split(" "));
rep2b.push('active');
rep2b.join(" ");
document.getElementById("rep2").className = rep2b.join(" ");}

$('button.repBut').click(function() { 
    var id = $(this).attr('id');
    if(id=='goodBut'){$("#radioGood").prop("checked", true);}
    else if(id=='badBut'){$("#radioBad").prop("checked", true);}
});

$('label#rep2').click(function(e){
      e.preventDefault();
      $("#rb2").prop("checked", true);
      $("#rb1").prop("checked", false);
      if(rep2b.length!=7){
      if(rep1b.length==7){
        rep2b.push('active');
        rep2b.join(" ");
        document.getElementById("rep2").className = rep2b.join(" ");
        rep1b.splice(-1,1);
        rep1b.join(" ");
        document.getElementById("rep1").className = rep1b.join(" ");
      }
      else{
        rep2b.push('active');
        rep2b.join(" ");
        document.getElementById("rep2").className = rep2b.join(" ");
      }}});

$('label#rep1').click(function(e){
      e.preventDefault();
      $("#rb1").prop("checked", true);
      $("#rb2").prop("checked", false);
      if(rep1b.length!=7){

      if(rep2b.length==7){
        rep1b.push('active');
        rep1b.join(" ");
        document.getElementById("rep1").className = rep1b.join(" ");
        rep2b.splice(-1,1);
        rep2b.join(" ");
        document.getElementById("rep2").className = rep2b.join(" ");
      }

      else{
        rep1b.push('active');
        rep1b.join(" ");
        document.getElementById("rep1").className = rep1b.join(" ");
      }
}
      });

</script>
</body>
