<%= stylesheet_link_tag "sidebar" %>
<!--
<div class="page-header">
  <h1>Report</h1>
  <small>#<%= current_user.identifier %></small>
</div>
-->
<nav class="navbar navbar-light bg-info fixed-top">
  <div class="row">
    <div class="col-2"><a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span class="navbar-toggler-icon"></span></a></div>
    <div class="col-10">
      <%= form_tag(report_index_url, method: :get) do %>
        <div class="row">
        <input id="search" name="search" class="form-control col-10" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-primary fas fa-search col-2" type="submit"></button>
        </div>
      <% end %>
    </div>
  </div>
  
</nav>
<div id="wrapper" class="pt-5">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Termos de Uso</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">                
                <div id="cards">
                  <%= render @cards %>
                </div>

                <div id="infinite-scrolling">
                  <%= will_paginate @cards %>
                </div>            
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



<%= javascript_include_tag 'sidebar'%>
</body>
