<%= stylesheet_link_tag "sidebar" %>
<!--
<div class="page-header">
  <h1>Report</h1>
  <small>#<%= current_user.identifier %></small>
</div>
-->
<nav class="navbar navbar-light bg-info fixed-top">
  <div class="row">
    <div class="col-2"><a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span class="navbar-toggler-icon"></span></a></div>
    <div class="col-10">
      <%= form_tag(report_index_url, method: :get) do %>
        <div class="row">
        <input id="search" name="search" class="form-control col-10" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-primary fas fa-search col-2" type="submit"></button>
        </div>
      <% end %>
    </div>
  </div>
  
</nav>
<div id="wrapper" class="pt-5">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#"><%= image_tag("logo-branca.png", :style=>'height:25px;', :class=>'d-inline-block align-bottom') %></a>
                </li>
                <%= form_tag(report_index_url, method: :get) do %>
                    <li class="text-light">Filtros</li>
                    <li>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="rep" value="1">
                    <label class="form-check-label text-success" for="exampleRadios1">
                        Good Repute
                    </label>
                    </div></li>
                    <li>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="rep" value="2">
                    <label class="form-check-label text-danger" for="exampleRadios2">
                        Bad Repute
                    </label>
                    </div>
                    </li>
                    <li>
                    <button class="btn btn-primary fas fa-search col-2" type="submit"></button>
                    </li>
                <% end %>
                <li>
                    <a href="#">Termos de Uso</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">                
                <div id="cards">
                  <%= render @cards %>
                </div>

                <div id="infinite-scrolling">
                  <%= will_paginate @cards %>
                </div>            
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



<%= javascript_include_tag 'sidebar'%>
<script>
        $(document).ready(function(){

        $("input[type='submit']").click(function(){

            var radioValue = $("input[name='rep']:checked").val();

            if(radioValue){

                return radioValue;

            }

        });

        

    });
</script>
</body>
