<%= stylesheet_link_tag "sidebar" %>
<!--
<div class="page-header">
  <h1>Report</h1>
  <small>#<%= current_user.identifier %></small>
</div>
-->
<nav class="navbar navbar-light bg-info fixed-top">
  <div class="row">
    <div class="col-2"><a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span class="navbar-toggler-icon"></span></a></div>
    <div class="col-10">
      <form>
        <div class="row">
        <input class="form-control col-10" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <i class="fas fa-search col-2 btn btn-info"></i>
        </div>
      </form>
    </div>
  </div>
  
</nav>
<div id="wrapper" class="pt-5">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Termos de Uso</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Simple Sidebar</h1>
                <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                
                <div id="cards">
                  <%= render @cards %>
                </div>

                <div id="infinite-scrolling">
                  <%= will_paginate @cards %>
                </div>            
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



<%= javascript_include_tag 'sidebar'%>
</body>
