<div>
  <%= card.user.identifier%>
  <%= card.genotype.title%>
  <%= card.genotype.summary%>
  <%= card.genotype.repute%>
  <%= card.genotype.magnitude%>
  <%= card.genotype.gene.summary%>
  <%= card.genotype.gene.chromosome%>
  <%= card.genotype.gene.position%>
</div>