<div class="card border border-info my-3">

  <div class="row">

    <div class="col-md-2 mx-auto my-auto text-center pt-3 pb-3">
        <i class="fas fa-dna fa-5x" style="color:<%= card.genotype.color%>; background-size:cover;"></i>
    </div>
    <div class="col-md-10 py-3">
      <div class="row px-4">
        <h5 class="text-info font-weight-bold"><%= card.genotype.title%></h5>
      </div>
      <div class="row px-4 pt-3">
        <p class="font-weight-bold"><%= card.genotype.summary%></p>
      </div>
      <% if card.genotype.gene.summary %>
      <div class="row px-4">
        <p><%= card.genotype.gene.summary%></p>
      </div>
      <% end %>
      <% if card.genotype.page_text %>
      <div class="row px-4">
        <p><%= card.genotype.page_text%></p>
      </div>
      <% end %>
    </div>
  </div>
</div>
