<p id="notice"><%= notice %></p>

<div class="container">
  <h1>cards</h1>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Usuário</th>
          <th>Genótipo</th>
          <!-- TODO: ARRUMAR
          <th colspan="3"></th>
          -->
        </tr>
      </thead>

      <tbody>
        <% @cards.each do |card| %>
          <tr>
            <td><%= card.user_id%></td>
            <td><%= card.genotype_id%></td>
            <!--
            <td><%= link_to 'Show', card %></td>
            <td><%= link_to 'Edit', edit_card_path(card) %></td>
            <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            -->
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @cards %>
    <%= page_entries_info @cards %>
    <!-- TODO: Implementar criação de cards
    <%= link_to 'New card', new_card_path %>
    -->
  </div>
</div>
